@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&family=Syncopate&family=Turret+Road&family=Orbitron&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;