<div class="quarantinezone">
    <label for="num-dice"># Dice:</label>
    <input class="roll-input-disabled" type="number" value={{numDice}} name="num-dice" id="num-dice" tabindex="-1"/>
    <div class="flexrow dice-row">
        {{#each possibleDice}}
            {{#if (lessThanOrEqual this ../numDice)}}
                <i class="fa-solid fa-dice-{{numberToText this}} fa-3x dice-enabled"></i>
            {{else}}
                <i class="fa-solid fa-dice-{{numberToText this}} fa-3x dice-disabled"></i>
            {{/if}}
        {{/each}}
    </div>  
    <label for="bonus">Bonus:</label>
    <input class="roll-input" type="number" value={{bonus}} name="bonus" id="bonus"/>
    {{#if (eq type 'weapon')}}
        {{#if (eq range 'Ranged')}}
            <label for="bonus">Range:</label>
            <select class="roll-input" name="range-select" id="range-select">
                {{selectOptions possibleRanges selected=selectedRange}}
            </select>
        {{/if}}
    {{/if}}
    <div class="qz-button-container">
        <div class="qz-dice-buttons">
            <button type="button" data-action="decrementDice"><i class="fa-solid fa-minus"></i><i
                    class="fa-solid fa-dice"></i>Remove Dice</button>
            <button type="button" data-action="incrementDice"><i class="fa-solid fa-plus"></i><i class="fa-solid fa-dice"></i>Add Dice</button>
        </div>
        <button type="submit"><i class="fa-solid fa-check"></i>Roll</button>
    </div>
</div>