<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-name">{{localize "QZ.ResourceType"}}</div>
        <div class="item-name">{{localize "QZ.Number"}}</div>
    </li>
    <li class="item flexrow">
        <h4 class="item-name">{{localize "QZ.Materials"}}</h4>
        <h4 class="item-name"> <input type="text" name="system.materials" value="{{system.materials}}"
                data-dtype="Number" /></h4>
    </li>
    <li class="item flexrow">
        <h4 class="item-name">{{localize "QZ.Components"}}</h4>
        <h4 class="item-name"> <input type="text" name="system.components" value="{{system.components}}"
                data-dtype="Number" /></h4>
    </li>
    <li class="item flexrow">
        <h4 class="item-name">{{localize "QZ.Tools"}}</h4>
        <h4 class="item-name"> <input type="text" name="system.tools" value="{{system.tools}}" data-dtype="Number" />
        </h4>
    </li>
</ol>