<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{localize "QZ.Name"}}</div>
        <div class="item-controls">

        </div>
    </li>
    {{#each actor.explorationActions as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-image rollable-move-image" data-rolltype="{{item.system.type}}" data-label="{{item.name}}"
            data-img="{{item.img}}" data-move="{{item.name}}" data-type="explorationAction">
            <img src="{{item.img}}" title="{{item.name}}" />
        </div>
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>