:root {
  --color-border-highlight: rgba(9, 164, 255, 1);
  --color-border-highlight-alt: rgba(9, 164, 255, 1);
  --color-shadow-primary: rgba(0, 0, 255, 1);
  --color-shadow-highlight: rgba(9, 164, 255, 1);
  --color-text-dark-secondary: rgba(151, 216, 255, 1);
  --color-text-dark-primary: rgba(237, 237, 237, 1);
  --font-primary: "Turret Road";
  --color-underline-active: rgba(125, 197, 231, 1);
  --color-text-hyperlink: rgba(125, 197, 231, 1);
  --color-border-light-1: rgba(9, 164, 255, 0.4);
  --color-underline-header: rgba(9, 164, 255, 1);
  --color-bg-btn-minor-active: rgba(9, 164, 255, 1);
  --color-bg-btn-minor-inactive: rgba(125, 197, 231, 1)
}

.chat-message {
  background: url('/systems/quarantinezone/images/qz-background.webp') repeat;
}

.chat-message.whisper {
  background: url('/systems/quarantinezone/images/qz-background-red.webp') repeat;
}

.sheet.journal-entry .journal-entry-content {
  background: url('/systems/quarantinezone/images/qz-background.webp');
  background-size: cover;
}

.chat-message .message-header {
  color: rgba(237, 237, 237, 1);
}

.chat-message-whisper .message-header {
  color: rgba(237, 237, 237, 1);
}


#chat-form textarea {
  background: rgba(11, 14, 22, 1);
}

textarea {
  color: rgba(237, 237, 237, 1);
  font-family: 'Turret Road';
}

.directory .directory-item h3, .directory .directory-item h4 {
  color: rgba(237, 237, 237, 1);
}

textarea {
  color: rgba(237, 237, 237, 1);
}

.directory .directory-item h3, .directory .directory-item h4 {
  color: rgba(237, 237, 237, 1);
}

.directory .directory-header .header-search input {
  background: rgba(11, 14, 22, 1);
}

button {
  background: rgba(125, 197, 231, 1);
}

#sidebar .chat-header {
  border-top: 2px groove rgba(9, 164, 255, 1);
  border-bottom: 2px groove rgba(9, 164, 255, 1);
}

#sidebar .chat-header h3 {
  border-bottom: 0px;
}

//Character sheets etc
.window-app .window-content {
  background: url('/systems/quarantinezone/images/qz-background.webp');
  background-size: cover;
  color: var(--color-text-dark-primary);
}

form button {
  background: rgba(125, 197, 231, 1);
}

form select {
  width: 100%;
  background-color: rgb(14, 14, 16);
  color: white;

  option {
    background-color: rgb(14, 14, 16);
  }
}

#keybindings .binding .key.uneditable {
  background: rgba(125, 197, 231, 1);
  color: rgba(0, 0, 0, 1);
}

.dialog .dialog-buttons button{
  background: rgba(172, 211, 229, 1);
}

.dialog .dialog-buttons button.default {
  background: rgba(125, 197, 231, 1);
}

.prosemirror {
  --color-control-bg: rgba(125, 197, 231, 1);
}

.prosemirror menu button {
  background: rgba(125, 197, 231, 1);
}

.filepicker .current-dir button {
  background: rgba(125, 197, 231, 1);
}

input[type=range]::-webkit-slider-thumb {
  background: rgba(125, 197, 231, 1);
}

.app {
  border-radius: 0px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
  background: rgba(14, 14, 16, 1);
}

input:hover {
  border-color: var(--color-border-light-1);
}