<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="actor-sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>
        {{!-- <input name="system.archetype" type="text" value="{{system.archetype}}" placeholder="Archetype" /> --}}
        <select name="system.archetype" data-dtype="String" class="archetype-select">
          {{selectOptions archetypes selected=system.archetype}}
        </select>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use
      both the "grid" and "grid-Ncol" class where "N" can be any number from 1
      to 12 and will create that number of columns. --}}
      <div class="resources grid grid-6col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file and it
        will add a small amount of padding, a border, and will center all of its
        child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">{{localize "QZ.Health"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input disabled type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.majorInjuries.value" class="resource-label">{{localize "QZ.MajInjuries"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.majorInjuries.value" value="{{system.majorInjuries.value}}"
              data-dtype="Number" />
            <span> / </span>
            <input disabled type="text" name="system.majorInjuries.max" value="{{system.majorInjuries.max}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.majorInjuries.value" class="resource-label">{{localize "QZ.CriticalInjuries"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.criticalInjuries.value" value="{{system.criticalInjuries.value}}" data-dtype="Number" />
            <span> / </span>
            <input disabled type="text" name="system.criticalInjuries.max" value="{{system.criticalInjuries.max}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.luck.value" class="resource-label">{{localize "QZ.Luck"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.luck.value" value="{{system.luck.value}}" data-dtype="Number" />
            <span> / </span>
            <input disabled type="text" name="system.luck.max" value="{{system.luck.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.experience.value" class="resource-label">{{localize "QZ.Experience"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.experience.value" value="{{system.experience.value}}" data-dtype="Number" />
            <span> / </span>
            <input disabled type="text" name="system.experience.max" value="{{system.experience.max}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.level" class="resource-label">{{localize "QZ.Level"}}</label>
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
        </div>
      </div>

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use
      both the "grid" and "grid-Ncol" class where "N" can be any number from 1
      to 12 and will create that number of columns. --}}
      <div class="abilities grid grid-6col">
        {{#each system.explorationAttributes as |attribute key|}}
        <div class="flexcol flex-group-center flex-center">
          <div class="ability flexrow">
            <label for="system.explorationAttributes.{{key}}.value" class="attribute-label">{{key}}</label>
          </div>
          <div class="ability flexrow flex-center">
            <input type="text" name="system.explorationAttributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
            <span class="ability-mod rollable rollable-exploration"
              data-label="{{attribute.label}}">{{numberFormat attribute.value decimals=0 sign=true}}</span>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="abilities grid grid-5col">
        {{#each system.encounterAttributes as |attribute key|}}
        <div class="flexcol flex-group-center flex-center">
          <div class="ability flexrow">
            <label for="system.encounterAttributes.{{key}}.value" class="attribute-label">{{key}}</label>
          </div>
          <div class="ability flexrow flex-center">
            {{#if (eq key "speed")}}
              <span class="ability-mod" data-label="{{key}}">{{numberFormat attribute.value decimals=0}}</span>
            {{else}}
              <span class="ability-mod rollable rollable-encounter" data-label="{{key}}">{{numberFormat attribute.value decimals=0
                sign=true}}</span>
            {{/if}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "QZ.Description"}}</a>
    <a class="item" data-tab="origins">{{localize "QZ.Origins"}}</a>
    <a class="item" data-tab="agendas">{{localize "QZ.Agendas"}}</a>
    <a class="item" data-tab="explorationActions">{{localize "QZ.Exploration"}}</a>
    <a class="item" data-tab="encounterActions">{{localize "QZ.Encounter"}}</a>
    <a class="item" data-tab="traits">{{localize "QZ.Traits"}}</a>
    <a class="item" data-tab="gear">{{localize "QZ.Gear"}}</a>
    <a class="item" data-tab="permanent-injuries">{{localize "QZ.PermInjuries"}}</a>
    <a class="item" data-tab="reputation">{{localize "QZ.Reputation"}}</a>
    <a class="item" data-tab="resources">{{localize "QZ.Resources"}}</a>
    <a class="item" data-tab="effects">{{localize "QZ.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor
        system.biography
        target="system.biography" 
        button=true
        owner=owner 
        editable=editable
      }}
    </div>

    {{!-- Origins Tab --}}
    <div class="tab traits" data-group="primary" data-tab="origins">
      {{> "systems/quarantinezone/templates/actor/parts/actor-origins.hbs"}}
    </div>

    {{!-- Agendas Tab --}}
    <div class="tab gear" data-group="primary" data-tab="agendas">
      {{> "systems/quarantinezone/templates/actor/parts/actor-agendas.hbs"}}
    </div>

    {{!-- Exploration Actions Tab --}}
    <div class="tab moves" data-group="primary" data-tab="explorationActions">
      {{> "systems/quarantinezone/templates/actor/parts/actor-exploration-actions.hbs"}}
    </div>

    {{!-- Encounter Actions Tab --}}
    <div class="tab moves" data-group="primary" data-tab="encounterActions">
      {{> "systems/quarantinezone/templates/actor/parts/actor-encounter-actions.hbs"}}
    </div>

    {{!-- Traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      {{> "systems/quarantinezone/templates/actor/parts/actor-traits.hbs"}}
    </div>

    {{!-- Gear Tab --}}
    <div class="tab gear" data-group="primary" data-tab="gear">
      {{> "systems/quarantinezone/templates/actor/parts/actor-gear.hbs"}}
    </div>

    {{!-- Permanent Injuries Tab --}}
    <div class="tab gear" data-group="primary" data-tab="permanent-injuries">
      {{> "systems/quarantinezone/templates/actor/parts/actor-perm-injuries.hbs"}}
    </div>

    {{!-- Permanent Injuries Tab --}}
    <div class="tab gear" data-group="primary" data-tab="reputation">
      {{> "systems/quarantinezone/templates/actor/parts/actor-reputation.hbs"}}
    </div>

    {{!-- Resources Tab --}}
    <div class="tab gear" data-group="primary" data-tab="resources">
      {{> "systems/quarantinezone/templates/actor/parts/actor-resources.hbs"}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/quarantinezone/templates/actor/parts/actor-effects.hbs"}}
    </div>
  </section>
</form>