<div class="{{cssClass}} clock-block">

    <div class="flexcol progress-clock-name-type">
        {{#if editable}}
        <input type="text" id="{{actor.id}}-clock-name" name="name" value="{{actor.name}}">

        <select data-type="String" name="system.type">
            {{selectOptions selectValues selected=system.type}}
        </select>
        {{/if}}

        <div class="clocks clocks-{{system.type}}">
            {{{progress-clock "system.value" system.type system.value item.id}}}
        </div>
    </div>
</div>