<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="npc-sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "QZ.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor 
      system.biography 
      target="system.biography" 
      button=true
      owner=owner 
      editable=editable}}
    </div>

    {{!-- Moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">{{localize "QZ.Name"}}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> {{localize "QZ.AddItem"}}</a>
          </div>
        </li>
        {{#each actor.moves as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image rollable-move-image" data-rolltype="{{item.system.type}}" data-label="{{item.name}}"
            data-img="{{item.img}}" data-move="{{item.name}}">
            <img src="{{item.img}}" title="{{item.name}}" />
          </div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

  </section>
</form>