.actor-sheet-header {
  flex: 0 0 340px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 6px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.npc-sheet-header {
  flex: 0 0 120px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 6px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.rollable-move-image {
  :hover {
    border: red;
    border-width: 2px;
    border-style: solid;
  }
}

.chatable-owned-item {
  :hover {
    border: red;
    border-width: 2px;
    border-style: solid;
  }
}

.archetype-select {
  font-size: var(--font-size-20);
  padding-top: 5px;
  padding-bottom: 5px;
  height: 2.5rem;
}

.gear-header {
  padding: 5px;
    font-size: var(--font-size-16);
    font-weight: 500;
    background: var(--color-border-light-1);
}

h3.effect-name {
  border: none
}