.chatimage {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
}

.chat-header {
  border-top: 2px groove #fff;
  border-bottom: 2px groove #fff;
  padding: 3px;

  h3 {
    flex: 1;
    line-height: 50px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-weight: 600;
  }
}

.result-text {
  text-align: center;
    border: 2px solid rgba(37, 97, 29, 1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(64, 168, 50, 1);
    border-radius: 5px;
    padding: 0.25rem;
    font-weight: bold;
    font-size: var(--font-size-16);
}

.result-text-failure {
  @extend .result-text;
  border: 2px solid rgba(117, 30, 20, 1);
  background-color: rgba(242, 103, 87, 1);
  color: rgba(54, 51, 49, 1);
}

.result-text-partial {
  @extend .result-text;
  border: 2px solid rgba(214, 128, 47, 1);
  background-color: rgba(240, 216, 62, 1);
  color: rgba(54, 51, 49, 1);
}

.result-text-success {
  @extend .result-text;
  border: 2px solid rgba(37, 97, 29, 1);
  background-color: rgba(64, 168, 50, 1);
}

.result-text-advanced-success {
  @extend .result-text;
  border: 2px solid rgba(64, 168, 50, 1);
  background-color: rgba(37, 97, 29, 1);
}

.chat-table {
  table-layout: fixed;

  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}