@import "../utils/mixins.scss";

#character-health-clock {
  margin: 0 auto;
  @include clock(4, 88);
}

.clock-zero-label {
  color: #aaa;;
}

.clock-block {
  .clocks {
    &.clocks-4 {
      @include clock(4, 200);
    }
    &.clocks-6 {
      @include clock(6, 200);
    }
    &.clocks-8 {
      @include clock(8, 200);
    }
  }
}

.clock-block .progress-clock-name-type {
  > * {
    margin-bottom: 10px;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
