.move-header {
  flex: 0 0 210px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 6px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.boundaries {
  .boundaries-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
  }

  .boundaries-list {
    a.boundary-control {
      flex: 0 0 20px;
      text-align: center;
      line-height: 28px;
      border: none;
    }

    li > * {
      margin: 0 3px;
      height: 28px;
      line-height: 24px;
      background: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #aaa;
    }
  }
  .boundary-control {
    flex: 0 0 20px;
  }

  .boundary-label {
    flex: 1.5;
  }
}
