.resource-label {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.25rem;
  flex-grow: 1;
}

.attribute-label {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.25rem;
}

.resource {
  display: flex;
  flex-direction: column;
}