.roll-input {
    margin-bottom: 5px;
    margin-top: 5px;

}

.roll-input-disabled {
    @extend .roll-input;
    pointer-events: none;
}

.dice-enabled {
    color: white;
}

.dice-disabled {
    color: rgb(82, 82, 82);
}

.dice-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.qz-dice-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}