.weapon-attributes{
    display: flex;
    flex-direction: column;
}

.weapon-attributes-row{
    display: flex;
    flex-direction: row;
}

.weapon-input {
    margin: 2px
}

.weapon-select {
    flex-grow: 1;
    margin: 2px
}