<form class="{{cssClass}}" autocomplete="off">
  <header class="move-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
      <h1 class="charname">
        <!-- <select value={{data.type}} name={{data.type}}>
                  <option>Might</option>
                  <option>Instinct</option>
                  <option>Compel</option>
                  <option>Smarts</option>
                  <option>Weird</option>
                </select> -->
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "QZ.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor 
      system.description 
      target="system.description" 
      button=true
      owner=owner 
      editable=editable
      }}
    </div>

  </section>
</form>
