<form class="{{cssClass}}" autocomplete="off">
  <header class="move-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
      <h1 class="charname">
        <select name="system.type" data-dtype="String" class="archetype-select">
          {{selectOptions attributes selected=system.type}}
        </select>
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "QZ.Description"}}</a>
    <a class="item" data-tab="boundaries">{{localize "QZ.Boundaries"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor 
      system.description 
      target="system.description" 
      button=true
      owner=owner 
      editable=editable
      }}
    </div>

    {{!-- Boundaries Tab --}}
    <div class="tab boundaries" data-group="primary" data-tab="boundaries">
      <header class="boundaries-header flexrow">
        <span class="boundary-value">{{localize "QZ.Key"}}</span>
        <span class="boundary-value">{{localize "QZ.MinRoll"}}</span>
        <span class="boundary-label">{{localize "QZ.Description"}}</span>
        <a class="boundary-control" data-action="create"
          ><i class="fas fa-plus"></i
        ></a>
      </header>

      <ol class="boundaries-list">
        {{#each system.boundaries as |boundary key|}}
        <li class="boundary flexrow" data-attribute="{{key}}">
          <input
            class="boundary-value"
            type="text"
            name="system.boundaries.{{key}}.key"
            value="{{boundary.key}}"
          />
          <input
            class="boundary-value"
            type="text"
            name="system.boundaries.{{key}}.minRoll"
            value="{{boundary.minRoll}}"
          />
          <input
            class="boundary-label"
            type="text"
            name="system.boundaries.{{key}}.description"
            value="{{boundary.description}}"
          />
          <a class="boundary-control" data-action="delete">
            <i class="fas fa-trash"></i>
          </a>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>
