<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">{{localize "QZ.Value"}}</label>
          <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "QZ.Max"}}</label>
          <input disabled type="text" name="system.level.max" value="{{system.level.max}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "QZ.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor 
      system.description 
      target="system.description" 
      button=true
      owner=owner 
      editable=editable
      }}
    </div>

  </section>
</form>