<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            <div class="flex-center">
                <div class="resource">
                    <div class="weapon-attributes">
                        <div class="weapon-attributes-row">
                            {{!-- <label for="system.range" class="attribute-label">{{localize "QZ.Range"}}</label>
                            <input class="weapon-input" type="text" name="system.range" value="{{system.range}}" data-dtype="String" /> --}}
                        </div>
                        <div class="weapon-attributes-row">
                            <label for="system.damage" class="attribute-label">{{localize "QZ.Damage"}}</label>
                            <input class="weapon-input" type="text" name="system.damage.min" value="{{system.damage.min}}" data-dtype="Number" />
                            <input class="weapon-input" type="text" name="system.damage.max" value="{{system.damage.max}}" data-dtype="Number" />
                            <input class="weapon-input" type="text" name="system.damage.type" value="{{system.damage.type}}" data-dtype="String" />
                        </div>
                        <div class="weapon-attributes-row">
                            <label for="system.traits" class="attribute-label">{{localize "QZ.Traits"}}</label>
                            <input class="weapon-input" type="text" name="system.traits" value="{{system.traits}}" data-dtype="String" />
                        </div>
                        <div class="weapon-attributes-row">
                            <label for="system.range.type" class="attribute-label">{{localize "QZ.RangeType"}}</label>
                            <select name="system.range.type" data-dtype="String" class="weapon-select">
                                {{selectOptions rangeOptions selected=system.range.type}}
                            </select>
                        </div>
                        {{#if (eq system.range.type "Ranged")}}
                        <div class="weapon-attributes-row">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S</th><th>M</th><th>L</th><th>X</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                    <td><input class="weapon-input" type="text" name="system.range.short.modifier" value="{{system.range.short.modifier}}" data-dtype="String" /></td>
                                    <td><input class="weapon-input" type="text" name="system.range.medium.modifier" value="{{system.range.medium.modifier}}" data-dtype="String" /></td>
                                    <td><input class="weapon-input" type="text" name="system.range.long.modifier" value="{{system.range.long.modifier}}" data-dtype="String" /></td>
                                    <td><input class="weapon-input" type="text" name="system.range.extreme.modifier" value="{{system.range.extreme.modifier}}" data-dtype="String" /></td>
                                    </tr>
                                    </table>
                                </tbody>
                            </table>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "QZ.Actions"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor
            system.description
            target="system.description"
            button=true
            owner=owner
            editable=editable}}
        </div>

    </section>
</form>