@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&family=Syncopate&family=Turret+Road&family=Orbitron&display=swap");
/* 
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Create Clock
 */
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

:root {
  --color-border-highlight: rgba(9, 164, 255, 1);
  --color-border-highlight-alt: rgba(9, 164, 255, 1);
  --color-shadow-primary: rgba(0, 0, 255, 1);
  --color-shadow-highlight: rgba(9, 164, 255, 1);
  --color-text-dark-secondary: rgba(151, 216, 255, 1);
  --color-text-dark-primary: rgba(237, 237, 237, 1);
  --font-primary: "Turret Road";
  --color-underline-active: rgba(125, 197, 231, 1);
  --color-text-hyperlink: rgba(125, 197, 231, 1);
  --color-border-light-1: rgba(9, 164, 255, 0.4);
  --color-underline-header: rgba(9, 164, 255, 1);
  --color-bg-btn-minor-active: rgba(9, 164, 255, 1);
  --color-bg-btn-minor-inactive: rgba(125, 197, 231, 1) ;
}

.chat-message {
  background: url("/systems/quarantinezone/images/qz-background.webp") repeat;
}

.chat-message.whisper {
  background: url("/systems/quarantinezone/images/qz-background-red.webp") repeat;
}

.sheet.journal-entry .journal-entry-content {
  background: url("/systems/quarantinezone/images/qz-background.webp");
  background-size: cover;
}

.chat-message .message-header {
  color: rgb(237, 237, 237);
}

.chat-message-whisper .message-header {
  color: rgb(237, 237, 237);
}

#chat-form textarea {
  background: rgb(11, 14, 22);
}

textarea {
  color: rgb(237, 237, 237);
  font-family: "Turret Road";
}

.directory .directory-item h3, .directory .directory-item h4 {
  color: rgb(237, 237, 237);
}

textarea {
  color: rgb(237, 237, 237);
}

.directory .directory-item h3, .directory .directory-item h4 {
  color: rgb(237, 237, 237);
}

.directory .directory-header .header-search input {
  background: rgb(11, 14, 22);
}

button {
  background: rgb(125, 197, 231);
}

#sidebar .chat-header {
  border-top: 2px groove rgb(9, 164, 255);
  border-bottom: 2px groove rgb(9, 164, 255);
}

#sidebar .chat-header h3 {
  border-bottom: 0px;
}

.window-app .window-content {
  background: url("/systems/quarantinezone/images/qz-background.webp");
  background-size: cover;
  color: var(--color-text-dark-primary);
}

form button {
  background: rgb(125, 197, 231);
}

form select {
  width: 100%;
  background-color: rgb(14, 14, 16);
  color: white;
}
form select option {
  background-color: rgb(14, 14, 16);
}

#keybindings .binding .key.uneditable {
  background: rgb(125, 197, 231);
  color: rgb(0, 0, 0);
}

.dialog .dialog-buttons button {
  background: rgb(172, 211, 229);
}

.dialog .dialog-buttons button.default {
  background: rgb(125, 197, 231);
}

.prosemirror {
  --color-control-bg: rgba(125, 197, 231, 1);
}

.prosemirror menu button {
  background: rgb(125, 197, 231);
}

.filepicker .current-dir button {
  background: rgb(125, 197, 231);
}

input[type=range]::-webkit-slider-thumb {
  background: rgb(125, 197, 231);
}

.app {
  border-radius: 0px;
}

input[type=text], input[type=number], input[type=password], input[type=date], input[type=time], input[type=search] {
  background: rgb(14, 14, 16);
}

input:hover {
  border-color: var(--color-border-light-1);
}

/* Styles limited to quarantinezone sheets */
.quarantinezone {
  /* 
  *  Elements that can be changed will hint this by dimming and fading a little on hover
  */
  /*
   * Create Clock
   */
}
.quarantinezone .item-form {
  font-family: "Roboto", sans-serif;
}
.quarantinezone .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.quarantinezone .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.quarantinezone .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.quarantinezone .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.quarantinezone .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.quarantinezone .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.quarantinezone .sheet-body,
.quarantinezone .sheet-body .tab,
.quarantinezone .sheet-body .tab .editor {
  height: 100%;
}
.quarantinezone .tox .tox-editor-container {
  background: #fff;
}
.quarantinezone .tox .tox-edit-area {
  padding: 0 8px;
}
.quarantinezone .resource-label {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.25rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.quarantinezone .attribute-label {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.25rem;
}
.quarantinezone .resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.quarantinezone .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.quarantinezone .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.quarantinezone .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.quarantinezone .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.quarantinezone .items-list .item-header {
  font-weight: bold;
}
.quarantinezone .items-list .item-header h3 {
  margin: 0;
}
.quarantinezone .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid rgba(9, 164, 255, 0.4);
}
.quarantinezone .items-list .item img {
  width: 24px;
  height: 24px;
}
.quarantinezone .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}
.quarantinezone .items-list .item img {
  display: block;
}
.quarantinezone .items-list .item-name {
  margin: 0;
}
.quarantinezone .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
.quarantinezone .move-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.quarantinezone .move-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 6px;
}
.quarantinezone .move-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.quarantinezone .move-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.quarantinezone .move-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.quarantinezone .boundaries .boundaries-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.quarantinezone .boundaries .boundaries-list a.boundary-control {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.quarantinezone .boundaries .boundaries-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}
.quarantinezone .boundaries .boundary-control {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
}
.quarantinezone .boundaries .boundary-label {
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
.quarantinezone .actor-sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 340px;
  flex: 0 0 340px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.quarantinezone .actor-sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 6px;
}
.quarantinezone .actor-sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.quarantinezone .actor-sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.quarantinezone .actor-sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.quarantinezone .npc-sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.quarantinezone .npc-sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 6px;
}
.quarantinezone .npc-sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.quarantinezone .npc-sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.quarantinezone .npc-sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.quarantinezone .rollable-move-image :hover {
  border: red;
  border-width: 2px;
  border-style: solid;
}
.quarantinezone .chatable-owned-item :hover {
  border: red;
  border-width: 2px;
  border-style: solid;
}
.quarantinezone .archetype-select {
  font-size: var(--font-size-20);
  padding-top: 5px;
  padding-bottom: 5px;
  height: 2.5rem;
}
.quarantinezone .gear-header {
  padding: 5px;
  font-size: var(--font-size-16);
  font-weight: 500;
  background: var(--color-border-light-1);
}
.quarantinezone h3.effect-name {
  border: none;
}
.quarantinezone #character-health-clock {
  margin: 0 auto;
  position: relative;
}
.quarantinezone #character-health-clock .progress-clock {
  position: relative;
  padding: 0;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
  background-color: rgb(43, 43, 43);
}
.quarantinezone #character-health-clock .progress-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
  cursor: pointer;
}
.quarantinezone #character-health-clock .progress-clock label:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  opacity: 0.9;
}
.quarantinezone #character-health-clock .progress-clock input {
  position: absolute;
  display: none;
}
.quarantinezone #character-health-clock .progress-clock input[value="0"] {
  display: none;
}
.quarantinezone #character-health-clock .progress-clock *:nth-child(3) {
  -webkit-transform: rotate(0deg) skewY(180deg);
  -ms-transform: rotate(0deg) skewY(180deg);
  transform: rotate(0deg) skewY(180deg);
}
.quarantinezone #character-health-clock .progress-clock *:nth-child(5) {
  -webkit-transform: rotate(90deg) skewY(180deg);
  -ms-transform: rotate(90deg) skewY(180deg);
  transform: rotate(90deg) skewY(180deg);
}
.quarantinezone #character-health-clock .progress-clock *:nth-child(7) {
  -webkit-transform: rotate(180deg) skewY(180deg);
  -ms-transform: rotate(180deg) skewY(180deg);
  transform: rotate(180deg) skewY(180deg);
}
.quarantinezone #character-health-clock .progress-clock *:nth-child(9) {
  -webkit-transform: rotate(270deg) skewY(180deg);
  -ms-transform: rotate(270deg) skewY(180deg);
  transform: rotate(270deg) skewY(180deg);
}
.quarantinezone .clock-zero-label {
  color: #aaa;
}
.quarantinezone .clock-block .clocks.clocks-4 {
  position: relative;
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
  background-color: rgb(43, 43, 43);
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
  cursor: pointer;
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock label:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  opacity: 0.9;
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock input {
  position: absolute;
  display: none;
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock input[value="0"] {
  display: none;
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock *:nth-child(3) {
  -webkit-transform: rotate(0deg) skewY(180deg);
  -ms-transform: rotate(0deg) skewY(180deg);
  transform: rotate(0deg) skewY(180deg);
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock *:nth-child(5) {
  -webkit-transform: rotate(90deg) skewY(180deg);
  -ms-transform: rotate(90deg) skewY(180deg);
  transform: rotate(90deg) skewY(180deg);
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock *:nth-child(7) {
  -webkit-transform: rotate(180deg) skewY(180deg);
  -ms-transform: rotate(180deg) skewY(180deg);
  transform: rotate(180deg) skewY(180deg);
}
.quarantinezone .clock-block .clocks.clocks-4 .progress-clock *:nth-child(9) {
  -webkit-transform: rotate(270deg) skewY(180deg);
  -ms-transform: rotate(270deg) skewY(180deg);
  transform: rotate(270deg) skewY(180deg);
}
.quarantinezone .clock-block .clocks.clocks-6 {
  position: relative;
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
  background-color: rgb(43, 43, 43);
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
  cursor: pointer;
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock label:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  opacity: 0.9;
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock input {
  position: absolute;
  display: none;
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock input[value="0"] {
  display: none;
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock *:nth-child(3) {
  -webkit-transform: rotate(0deg) skewY(150deg);
  -ms-transform: rotate(0deg) skewY(150deg);
  transform: rotate(0deg) skewY(150deg);
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock *:nth-child(5) {
  -webkit-transform: rotate(60deg) skewY(150deg);
  -ms-transform: rotate(60deg) skewY(150deg);
  transform: rotate(60deg) skewY(150deg);
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock *:nth-child(7) {
  -webkit-transform: rotate(120deg) skewY(150deg);
  -ms-transform: rotate(120deg) skewY(150deg);
  transform: rotate(120deg) skewY(150deg);
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock *:nth-child(9) {
  -webkit-transform: rotate(180deg) skewY(150deg);
  -ms-transform: rotate(180deg) skewY(150deg);
  transform: rotate(180deg) skewY(150deg);
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock *:nth-child(11) {
  -webkit-transform: rotate(240deg) skewY(150deg);
  -ms-transform: rotate(240deg) skewY(150deg);
  transform: rotate(240deg) skewY(150deg);
}
.quarantinezone .clock-block .clocks.clocks-6 .progress-clock *:nth-child(13) {
  -webkit-transform: rotate(300deg) skewY(150deg);
  -ms-transform: rotate(300deg) skewY(150deg);
  transform: rotate(300deg) skewY(150deg);
}
.quarantinezone .clock-block .clocks.clocks-8 {
  position: relative;
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
  background-color: rgb(43, 43, 43);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-filter 0.1s;
  transition: -webkit-filter 0.1s;
  transition: filter 0.1s;
  transition: filter 0.1s, -webkit-filter 0.1s;
  cursor: pointer;
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock label:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  opacity: 0.9;
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock input {
  position: absolute;
  display: none;
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock input[value="0"] {
  display: none;
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(3) {
  -webkit-transform: rotate(0deg) skewY(135deg);
  -ms-transform: rotate(0deg) skewY(135deg);
  transform: rotate(0deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(5) {
  -webkit-transform: rotate(45deg) skewY(135deg);
  -ms-transform: rotate(45deg) skewY(135deg);
  transform: rotate(45deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(7) {
  -webkit-transform: rotate(90deg) skewY(135deg);
  -ms-transform: rotate(90deg) skewY(135deg);
  transform: rotate(90deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(9) {
  -webkit-transform: rotate(135deg) skewY(135deg);
  -ms-transform: rotate(135deg) skewY(135deg);
  transform: rotate(135deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(11) {
  -webkit-transform: rotate(180deg) skewY(135deg);
  -ms-transform: rotate(180deg) skewY(135deg);
  transform: rotate(180deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(13) {
  -webkit-transform: rotate(225deg) skewY(135deg);
  -ms-transform: rotate(225deg) skewY(135deg);
  transform: rotate(225deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(15) {
  -webkit-transform: rotate(270deg) skewY(135deg);
  -ms-transform: rotate(270deg) skewY(135deg);
  transform: rotate(270deg) skewY(135deg);
}
.quarantinezone .clock-block .clocks.clocks-8 .progress-clock *:nth-child(17) {
  -webkit-transform: rotate(315deg) skewY(135deg);
  -ms-transform: rotate(315deg) skewY(135deg);
  transform: rotate(315deg) skewY(135deg);
}
.quarantinezone .clock-block .progress-clock-name-type > * {
  margin-bottom: 10px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.quarantinezone .weapon-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.quarantinezone .weapon-attributes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.quarantinezone .weapon-input {
  margin: 2px;
}
.quarantinezone .weapon-select {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 2px;
}
.quarantinezone .roll-input, .quarantinezone .roll-input-disabled {
  margin-bottom: 5px;
  margin-top: 5px;
}
.quarantinezone .roll-input-disabled {
  pointer-events: none;
}
.quarantinezone .dice-enabled {
  color: white;
}
.quarantinezone .dice-disabled {
  color: rgb(82, 82, 82);
}
.quarantinezone .dice-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.quarantinezone .qz-dice-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}
.quarantinezone .effect-controls-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.quarantinezone .effect-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

#sidebar .chatimage {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
}
#sidebar .chat-header {
  border-top: 2px groove #fff;
  border-bottom: 2px groove #fff;
  padding: 3px;
}
#sidebar .chat-header h3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 50px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 600;
}
#sidebar .result-text, #sidebar .result-text-advanced-success, #sidebar .result-text-success, #sidebar .result-text-partial, #sidebar .result-text-failure {
  text-align: center;
  border: 2px solid rgb(37, 97, 29);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(64, 168, 50);
  border-radius: 5px;
  padding: 0.25rem;
  font-weight: bold;
  font-size: var(--font-size-16);
}
#sidebar .result-text-failure {
  border: 2px solid rgb(117, 30, 20);
  background-color: rgb(242, 103, 87);
  color: rgb(54, 51, 49);
}
#sidebar .result-text-partial {
  border: 2px solid rgb(214, 128, 47);
  background-color: rgb(240, 216, 62);
  color: rgb(54, 51, 49);
}
#sidebar .result-text-success {
  border: 2px solid rgb(37, 97, 29);
  background-color: rgb(64, 168, 50);
}
#sidebar .result-text-advanced-success {
  border: 2px solid rgb(64, 168, 50);
  background-color: rgb(37, 97, 29);
}
#sidebar .chat-table {
  table-layout: fixed;
}
#sidebar .chat-table th {
  text-align: center;
}
#sidebar .chat-table td {
  text-align: center;
}